section#reservations {
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 2px solid $golden--color;
        box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
        padding: 2rem;
        input,
        textarea {
            border: 2px solid $golden--color;
            margin: 1.5rem;
            padding: 1rem;
            background-color: $lightGrey--color;
        }
        button {
            margin: 1rem auto;
        }
    }
}