// Import Home...
@import './home';

// Import About...
@import './about';

// Import Menu...
@import './menu';

// Import Team...
@import './team';

// Import Gallery...
@import './gallery';

// Import Blog...
@import './blog';

// Import Reservations...
@import './reservations';

// Import Feedback...
@import './feedback';

// Import Slogan...
@import './slogan';