section {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    color: white;
    @include centerContent;
    h1 {
        font-size: $medium-heading;
    }
    p {
        width: 50%;
    }
}