*, *::before,*::after{
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    background-color: #193047;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-item{
    margin: 2rem;
    padding: 2rem;
    flex-basis: 20%;
}

.footer-item h1{
    color:white;
    font-size: 18px;
    margin-bottom: 1rem;
}

.footer-item ul li{
  list-style: none;
  margin-bottom: 1rem;
  font-size: 15px;
}

.footer-item ul li a{
 text-decoration: none;
 color:white;
}

.footer-item ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-item p{
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #6C757E;
}

.fab{
    font-size: 20px;
    color: white;
    margin-right: 0.5rem;
}

.fab:hover{
    cursor: pointer;
    background-color: black;
}