@import "testimonials";
@import "team";
@import "skills";
@import "services";
@import "questions";
@import "prices";
@import "portfolio";
@import "home";
@import "contacts";
@import "blog";
@import "advertisment";
@import "about";
@import "purchase_advertisment";