section#services {
    color: $light-grey;
    @include centerContent;
    div.services_container {
        display: flex;
        @include centerContent;
        align-items: stretch;
        div.services_item {
            flex-basis: 30%;
            flex-direction: column;
            display: flex;
            margin: 1rem;
            padding: 1rem;
            color: black;
            @include centerContent;
            i {
                font-size: 40px;
                color: $light-green;
                margin-bottom: 0.5rem;
            }
            h1 {
                text-align: center;
                font-size: 20px;
            }
            p {
                width: 80%;
            }
            &:hover {
                box-shadow: 3px 2px 8px 8px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 3px 2px 8px 8px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 3px 2px 8px 8px rgba(0, 0, 0, 0.75);
                h1 {
                    color: $light-green;
                }
            }
        }
    }
}