section#skills {
    color: $light-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    div.item {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        margin: 1rem;
        padding: 1rem;
        h1 {
            margin-left: 1.1rem;
            color: $dark-grey;
        }
        p {
            width: 80%;
        }
    }
}