section#features_section {
    background-color: white;
    .row_container {
        display: flex;
        margin-top: 1.5rem;
        .item {
            .info_holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem;
                padding: 1.5rem;
                i {
                    font-size: 3.5rem;
                    color: $light-grey;
                }
            }
        }
    }
}