section#reviews_section {
    flex-direction: row;
    background-color: $light-blue;
    .review_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 1rem;
        box-shadow: -6px 12px 13px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -6px 12px 13px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -6px 12px 13px 0px rgba(0, 0, 0, 0.75);
        &>* {
            flex-basis: 100%;
        }
        p {
            color: white;
        }
        .author_names {
            color: black;
        }
    }
}