button {
    padding: 1rem;
    margin: 0.7rem 0.5rem;
    border-radius: 0.5rem;
    width: 10rem;
    &:hover {
        cursor: pointer;
    }
}

.grey--button {
    background-color: $lightGrey--color;
    color: $black--color;
    &:hover {
        background-color: $black--color;
        color: $white--color;
    }
}

.black--button {
    background-color: $black--color;
    color: $white--color;
    &:hover {
        background-color: $lightGrey--color;
        color: $black--color;
    }
}

.golden--button {
    background-color: $black--color;
    color: $white--color;
    &:hover {
        background-color: $golden--color;
        color: $white--color;
    }
}