//colors
$light-blue: #00AEDA;
$dark-grey: #222225;
$darkest-grey: #2E2E30;
$light-grey: #7D7D7F;
$headings-grey-color: #333333;
// maps
$headings-size: ( "small": 1.5rem, "medium": 2rem, "large": 3.5rem);