html {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
}

input {
    margin: 0.7rem;
    padding: 0.5rem;
}

button {
    margin: 1rem;
    padding: 0.5rem;
}