@import url("layout.css");
* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 3rem;
}

#right-side-div {
    background: rgb(254, 71, 73);
    background: linear-gradient(90deg, rgba(254, 71, 73, 1) 0%, rgba(255, 66, 105, 1) 50%);
    color: white;
}

.item h1 {
    font-size: 2rem;
}

#social-media-container i {
    font-size: 2.5rem;
    margin: 0.5rem;
}

#login-form-div input {
    width: 90%;
    background-color: #EFEFEF;
    border: none;
}

.item {
    display: flex;
    flex-basis: 50%;
    padding: 5rem;
    flex-direction: column;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 10px 11px 5px rgba(100, 91, 91, 0.8);
    -webkit-box-shadow: 1px 10px 11px 5px rgba(100, 91, 91, 0.8);
    -moz-box-shadow: 1px 10px 11px 5px rgba(100, 91, 91, 0.8);
}

button {
    border-radius: 1.5rem;
    background-color: #FF4455;
    border: none;
    width: 60%;
    color: white;
}

.hyperlink:hover {
    cursor: pointer;
}

p.hyperlink:hover {
    text-decoration: underline;
}