@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

li {
    list-style: none;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

p {
    margin: 0.8rem;
    padding: 0.5rem;
    line-height: 1.5rem;
}

img{
    width: 100%;
    height: 100%;
}