// Fonts...
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
body {
    font-size: 17px;
    color: $white--color;
    font-family: 'Bree Serif', serif;
}

p {
    margin: 1rem;
}

h1,
h2 {
    font-family: 'Aguafina Script', cursive;
    margin: 1.5rem;
}

h3 {
    margin: 1.2rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.5;
}

h3 {
    font-size: 1.5rem;
}

li {
    margin: 0.5rem;
    padding: 0.5rem;
}

a {
    color: white;
}

i {
    font-size: 1.5rem;
    margin: 0.3rem;
    &:hover {
        cursor: pointer;
        color: $golden--color;
    }
}

.grey--color {
    color: #4C5959;
}

.golden--color {
    color: $golden--color;
}

.black--color {
    color: black;
}

.white--color {
    color: $white--color;
}

.site__heading {
    font-size: 1.8rem;
    &:hover {
        cursor: pointer;
        color: $golden--color;
    }
}

.img_holder {
    img {
        border-radius: 50%;
        width: 100%;
        &:hover {
            cursor: pointer;
            border: 4px solid $golden--color;
        }
    }
}

.img__holder {
    img {
        width: 100%;
        &:hover {
            cursor: pointer;
            box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 2px 22px 3px rgba(0, 0, 0, 0.75);
        }
    }
}